#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_bitcoinold
#build/bitcoinoldd::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_bitcoinold)

DEB_INSTALL_EXAMPLES_bitcoinoldd += debian/examples/*
DEB_INSTALL_MANPAGES_bitcoinoldd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix bitcoinoldd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f bitcoinold-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake bitcoinold-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_bitcoinold
	src/test_bitcoinold

# Ensure wrapper is set executable
binary-post-install/bitcoinoldd:
	chmod +x $(cdbs_curdestdir)usr/bin/bitcoinoldd
binary-post-install/bitcoinold-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/bitcoinold-qt
